{% load i18n staticfiles %}
<!--   Core JS Files   -->
    <script src="{% static 'assets/js/core/jquery-latest.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/core/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/core/material.min.js' %}" type="text/javascript"></script>

    <!-- bxslider -->
    <script src="{% static 'assets/js/plugin/jquery.bxslider.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/material-kit.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/intial.js' %}" type="text/javascript"></script>

    <!--  fonticon iconmoon -->
    <script src="{% static 'assets/js/plugin/liga.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/slider.js' %}" type="text/javascript"></script>

    <script src="{% static 'assets/js/plugin/modernizr.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/app.js' %}" type="text/javascript"></script>

