{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link href="{% static 'assets/css/fonticon/material-icons.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/fonticon/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/fonticon/icmoon.css' %}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static 'assets/css/core/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/core/material-kit.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/plugin/jquery.bxslider.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/plugin/animate.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

<!-- Start of lasert Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="lasert.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/


</script>
<!-- End of lasert Zendesk Widget script -->
</head>
<body>
    {% include 'base/navBar.html' %}
    {% block content %}

    {% endblock %}
    {% include 'base/footer.html' %}
    {% include 'base/baseJs.html' %}
    {% block jsSource %}{% endblock %}

</body>
</html>