{% load i18n staticfiles %}
<!-- Partner -->
    <section class="partner">
        <div class="container">
            <div class="heading">
                
                {% blocktrans %}
                    <h2>Awesome <span class="color_red">partner</span></h2>
                {% endblocktrans %}
            </div>
            <ul class="partnerslider">
                {% for partner in partners %}
                    <li><a href="{{ partner.url }}" target="_blank"><img src="{{ partner.logo.url }}"/></a></li>
                {% endfor %}
            </ul>
       </div>
    </section>
