body {
  font-family: "JannaLT-Regular";
  background: #dce3eb;
  font-size: 16px; }
@font-face {
  font-family: "JannaLT-Regular";
  src: url("../fonts/jannal/jannalTRegular.eot?#iefix")
  format("embedded-opentype"), url("../fonts/jannal/jannalTRegular.woff")
  format("woff"), url("../fonts/jannal/jannalTRegular.ttf")
  format("truetype"), url("../fonts/jannal/jannalTRegular.svg#JannaLT-Regular") format("svg");
}

@font-face {
    font-family: 'toriom';
    src: url('../fonts/toriom-medium.eot');
    src: local('â˜º'), url('../fonts/toriom-medium.woff') format('woff'), url('../fonts/toriom-medium.ttf') format('truetype'), url('../fonts/toriom-medium.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'toriom light';
    src: url('fonts/toriom-light.eot');
    src: local('â˜º'), url('../fonts/toriom-light.woff') format('woff'), url('../fonts/toriom-light.ttf') format('truetype'), url('../fonts/toriom-light.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}
/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'DroidArabicNaskh';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'DroidArabicNaskh';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.ttf) format('truetype');
}
p،div,span{
  font-family: 'DroidArabicNaskh';
}
h1,h2,h3,h4,h5,a,label,.link-sidebar{
  font-family: "JannaLT-Regular";
}
h2 span{
   font-family: "JannaLT-Regular";
}

h1{
    font-size: 35px;
}
.breadcrumb{
    right: auto;
    left: 0;
}
.breadcrumb > li + li:before {
    content: "";
    margin: 0 -5px 0 5px;
    padding: 0 13px;
    background-position: 12px;
}

.cp-about img , .content-page img{
    float: left;
}
.career-page .panel .panel-heading a .arr-slide {
    right: auto;
    left: 0;
}
.career-page .panel-heading h6 i, .career-page .panel-heading h6 span{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.people .photo {
    margin-right: 0px;
    margin-left: 10px;
}
.people p{
    text-align: right;
}
.info-horizontal .icon {
    float: right;
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 10px;
}
.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {

  left: auto;
  right: 0;

}
.quote{
    text-align: right;
}
.quote:after {
  content: '';
  left: auto;
  right: -10px;
}
.quote p:after{
   content: '';
   font-family: FontAwesome;
   top: 84px;
   right: auto;
   left: -6px;

}
.partner .bx-wrapper .bx-next{
    right: auto;
    left: 0px;
}
.partner .bx-wrapper .bx-prev{
    right: auto;
    left: 53px;
}

.bx-wrapper .bx-viewport{ direction: ltr; }
/* footer */
.footer h5 ,.footer p {
    text-align: right;
}.footer p {
    font-size: 14px;
}
.footer ul li{
    float: right;
}
.footer h5{
 font-family: "JannaLT-Regular";
}
.footer hr{
    width: 100%;
}
.social-buttons {
    display: inline-block;
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.footer .social-buttons li{
   float: none;
   display: inline-block;
}
.navbar .navbar-toggle {
    border: 0;
    left: 20px;
    right: auto;
    float: left;
}



.btn.btn-just-icon{
    float: left;
}
.pull-right {
    float: left !important;
}
.pull-left {
    float: right !important;
}
.form-control{
    text-align: right;
    font-family: "JannaLT-Regular";
}
.text-left {
    text-align: right;
}
.text-right {
    text-align: right;
}
.circel-ico i {
    color: #fff;
    text-align: center;
    padding: 4px 7px;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{
    font-family: "JannaLT-Regular";
}
.navbar-brand , .container > .navbar-header{
    float: right;
}
@media (min-width: 768px){
    .navbar-nav > li {
        float: right;
    }
    .navbar-right {
        float: left !important;
    }
}

.is-right {
    text-align: right;}
.is-right {
    text-align: left;}

/*---- bootstrap ----*/
.dropdown-menu{
    left: 0;
    right: auto;
}
.thumbnail .caption{
    text-align: right;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    float: right;
}
.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    left: auto;
}

.col-xs-push-12 {
    right: 100%;
}

.col-xs-push-11 {
    right: 91.66666667%;
}

.col-xs-push-10 {
    right: 83.33333333%;
}

.col-xs-push-9 {
    right: 75%;
}

.col-xs-push-8 {
    right: 66.66666667%;
}

.col-xs-push-7 {
    right: 58.33333333%;
}

.col-xs-push-6 {
    right: 50%;
}

.col-xs-push-5 {
    right: 41.66666667%;
}

.col-xs-push-4 {
    right: 33.33333333%;
}

.col-xs-push-3 {
    right: 25%;
}

.col-xs-push-2 {
    right: 16.66666667%;
}

.col-xs-push-1 {
    right: 8.33333333%;
}

.col-xs-push-0 {
    right: auto;
}

.col-xs-offset-12 {
    margin-right: 100%;
}

.col-xs-offset-11 {
    margin-right: 91.66666667%;
}

.col-xs-offset-10 {
    margin-right: 83.33333333%;
}

.col-xs-offset-9 {
    margin-right: 75%;
}

.col-xs-offset-8 {
    margin-right: 66.66666667%;
}

.col-xs-offset-7 {
    margin-right: 58.33333333%;
}

.col-xs-offset-6 {
    margin-right: 50%;
}

.col-xs-offset-5 {
    margin-right: 41.66666667%;
}

.col-xs-offset-4 {
    margin-right: 33.33333333%;
}

.col-xs-offset-3 {
    margin-right: 25%;
}

.col-xs-offset-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-1 {
    margin-right: 8.33333333%;
}

.col-xs-offset-0 {
    margin-right: 0;
}
@media (min-width:768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: right;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        left: auto;
    }

    .col-sm-push-12 {
        right: 100%;
    }

    .col-sm-push-11 {
        right: 91.66666667%;
    }

    .col-sm-push-10 {
        right: 83.33333333%;
    }

    .col-sm-push-9 {
        right: 75%;
    }

    .col-sm-push-8 {
        right: 66.66666667%;
    }

    .col-sm-push-7 {
        right: 58.33333333%;
    }

    .col-sm-push-6 {
        right: 50%;
    }

    .col-sm-push-5 {
        right: 41.66666667%;
    }

    .col-sm-push-4 {
        right: 33.33333333%;
    }

    .col-sm-push-3 {
        right: 25%;
    }

    .col-sm-push-2 {
        right: 16.66666667%;
    }

    .col-sm-push-1 {
        right: 8.33333333%;
    }

    .col-sm-push-0 {
        right: auto;
    }

    .col-sm-offset-12 {
        margin-right: 100%;
    }

    .col-sm-offset-11 {
        margin-right: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-right: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-right: 75%;
    }

    .col-sm-offset-8 {
        margin-right: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-right: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-right: 50%;
    }

    .col-sm-offset-5 {
        margin-right: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-right: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-right: 25%;
    }

    .col-sm-offset-2 {
        margin-right: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-right: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-right: 0;
    }
}
@media (min-width:992px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float: right;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: auto;
        left: 25%;    
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        left: auto;
    }

    .col-md-push-12 {
        right: 100%;
        left: auto;
    }

    .col-md-push-11 {
        right: 91.66666667%;
        left: auto;
    }

    .col-md-push-10 {
        right: 83.33333333%;
        left: auto;
    }

    .col-md-push-9 {
        right: 75%;
        left: auto;
    }

    .col-md-push-8 {
        right: 66.66666667%;
        left: auto;
    }

    .col-md-push-7 {
        right: 58.33333333%;
        left: auto;
    }

    .col-md-push-6 {
        right: 50%;
        left: auto;
    }

    .col-md-push-5 {
        right: 41.66666667%;
        left: auto;
    }

    .col-md-push-4 {
        right: 33.33333333%;
        left: auto;
    }

    .col-md-push-3 {
        right: 25%;
        left: auto;
    }

    .col-md-push-2 {
        right: 16.66666667%;
        left: auto;
    }

    .col-md-push-1 {
        right: 8.33333333%;
        left: auto;
    }

    .col-md-push-0 {
        right: auto;
    }

    .col-md-offset-12 {
        margin-right: 100%;
            margin-left: 0;
    }

    .col-md-offset-11 {
        margin-right: 91.66666667%;
            margin-left: 0;
    }

    .col-md-offset-10 {
        margin-right: 83.33333333%;
            margin-left: 0;
    }

    .col-md-offset-9 {
        margin-right: 75%;
            margin-left: 0;
    }

    .col-md-offset-8 {
        margin-right: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-right: 58.33333333%;
            margin-left: 0;
    }

    .col-md-offset-6 {
        margin-right: 50%;
            margin-left: 0;
    }

    .col-md-offset-5 {
        margin-right: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-right: 33.33333333%;
            margin-left: 0;
    }

    .col-md-offset-3 {
        margin-right: 25%;
            margin-left: 0;
    }

    .col-md-offset-2 {
        margin-right: 16.66666667%;
            margin-left: 0;
    }

    .col-md-offset-1 {
        margin-right: 8.33333333%;
            margin-left: 0;
    }

    .col-md-offset-0 {
        margin-right: 0;
            margin-left: 0;
    }
}
@media (min-width:1200px) {
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        float: right;
    }


    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        left: auto;
    }

    .col-lg-push-12 {
        right: 100%;
    }

    .col-lg-push-11 {
        right: 91.66666667%;
    }

    .col-lg-push-10 {
        right: 83.33333333%;
    }

    .col-lg-push-9 {
        right: 75%;
    }

    .col-lg-push-8 {
        right: 66.66666667%;
    }

    .col-lg-push-7 {
        right: 58.33333333%;
    }

    .col-lg-push-6 {
        right: 50%;
    }

    .col-lg-push-5 {
        right: 41.66666667%;
    }

    .col-lg-push-4 {
        right: 33.33333333%;
    }

    .col-lg-push-3 {
        right: 25%;
    }

    .col-lg-push-2 {
        right: 16.66666667%;
    }

    .col-lg-push-1 {
        right: 8.33333333%;
    }

    .col-lg-push-0 {
        right: auto;
    }

    .col-lg-offset-12 {
        margin-right: 100%;
    }

    .col-lg-offset-11 {
        margin-right: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-right: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-right: 75%;
    }

    .col-lg-offset-8 {
        margin-right: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-right: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-right: 50%;
    }

    .col-lg-offset-5 {
        margin-right: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-right: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-right: 25%;
    }

    .col-lg-offset-2 {
        margin-right: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-right: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-right: 0;
    }
}
